
version:'3.8'



services:
  web:
    build:.
    ports:
      -"8000:8000"
    volumes:
      -./src:/app/src
      -./mediaL:/app/media
    enviroment:
      -DJANGO_ENV = development 
      -REDIS_URL = redis://:6379/0
      -CELERY_BROKER_URL = redis://localhost:6379/0
    depends_on:
      -redis
    command:puthon src/manage.py runserver 0.0.0.0:8000

    redis:
      image:redis:7-alpine 
      ports:
        -"6379:6379"
    
    celery:
      build:.
      command:celery -A config worker -loglevel-info 
      enviroment:
        -DJANGO_ENV = development 
        -REDIS_URL = redis://:6379/0
        -CELERY_BROKER_URL = redis://localhost:6379/0
      depends_on:
        -redis
      volumes:
        -./src:/app/src
    
    celery_beat:
      build:.
      command:celery - A config beat -loglevel-info
      enviroment:
        -DJANGO_ENV = development 
        -REDIS_URL = redis://:6379/0
        -CELERY_BROKER_URL = redis://localhost:6379/0
      depends_on:
        -redis
      volumes:
        -./src:/app/src
